@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background: linear-gradient(140deg, #f1ebe1, #f4efe7 36%, #f1f6f2);
}
